body > * {
  border : 1px solid black;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size:48px;
  font-weight: 200;
}

h2 {
  text-align: center;
  color: #a7a7a7;
  font-size: 18px;
}

.help-link{
  position: absolute;
  top:20px;
  right:20px;
  background-color: #333;
  color:#bbb;
  padding: 5px 10px;
  border-radius: 4px;
  font-size:12px;
  font-weight: bold;
}

.btnRight{
  float: right;
}

.center{
  text-align: center;
}

.myATag{
  color: white;
  text-decoration: none;
}

.myATag2{
  color: white;
  text-decoration: none;
}

.firstSection{
  background-color: #222;
  color: white;
}

.size1{
  font-size: 30px;
}